<h1><%= @movie.title %></h1>
<h3>Year produced: <%= @movie.year %></h3>
<h3>Genre: <%= @movie.genre %></h3>

<h2>Actors</h2>
<%= form_tag("/movies/#{params[:id]}", method: :patch, id: "actor-form") %>
<p>Name:</p>
<%= text_field_tag :name %>
<%= submit_tag "Add Actor" %>
<p>Average actor age: <%= @movie.average_age %></p>
<ul>
  <% @movie.actors_by_age.each do |actor| %>
    <li id="actor-<%=actor.id%>"><%= actor.name %></li>
  <% end %>
</ul>
